
$primary:  #00a262 !default;
$secondary: #00a262 !default;
$success: #00a262 !default;
$info: #00a262 !default;
$warning: #00a262 !default;
$danger: #00a262 !default;
$light: #00a262 !default;
$dark: #00a262 !default;